http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/api/rest_v1/data/citation/mediawiki/1439895619
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0.9100 rOpenSci(rcitoid/0.0.1.9110)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-content-security-policy: default-src 'none'; frame-ancestors 'none'
      x-webkit-csp: default-src 'none'; frame-ancestors 'none'
      content-location: https://en.wikipedia.org/api/rest_v1/data/citation/mediawiki/1439895619
      x-analytics: WMF-Last-Access=02-Feb-2019;WMF-Last-Access-Global=02-Feb-2019;https=1
      x-client-ip: 157.130.179.86
    body:
      encoding: UTF-8
      string: '[{"itemType":"book","title":"Agroecology : the ecology of sustainable
        food systems","oclc":"744303838","url":"https://www.worldcat.org/oclc/744303838","ISBN":["9781439895610","1439895619"],"edition":"Third
        edition","place":"Boca Raton","numPages":"xvii, 371 pages, 16 unnumbered pages
        of plates","abstractNote":"Resource added for the Sustainable Food & Agriculture
        Systems program 100903","contributor":[["Engles,","Eric,"]],"author":[["Gliessman,
        Stephen","R.,"]],"accessDate":"2019-02-02","source":["WorldCat"]}]'
  recorded_at: 2019-02-02 01:02:28 GMT
  recorded_with: vcr/0.2.2.9132, webmockr/0.3.0.9314
