http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/api/rest_v1/data/citation/mediawiki/30446726
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0.9100 rOpenSci(rcitoid/0.0.1.9110)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-content-security-policy: default-src 'none'; frame-ancestors 'none'
      x-webkit-csp: default-src 'none'; frame-ancestors 'none'
      content-location: https://en.wikipedia.org/api/rest_v1/data/citation/mediawiki/30446726
      x-analytics: WMF-Last-Access=02-Feb-2019;WMF-Last-Access-Global=02-Feb-2019;https=1
      x-client-ip: 157.130.179.86
    body:
      encoding: UTF-8
      string: '[{"key":"CIB6FRJI","version":0,"itemType":"journalArticle","tags":[],"title":"Enhanced
        protection conferred by mucosal BCG vaccination associates with presence of
        antigen-specific lung tissue-resident PD-1+ KLRG1- CD4+ T cells","ISSN":["1935-3456"],"journalAbbreviation":"Mucosal
        Immunol","publicationTitle":"Mucosal Immunology","date":"2018-11-16","abstractNote":"BCG,
        the only vaccine licensed against tuberculosis, demonstrates variable efficacy
        in humans. Recent preclinical studies highlight the potential for mucosal
        BCG vaccination to improve protection. Lung tissue-resident memory T cells
        reside within the parenchyma, potentially playing an important role in protective
        immunity to tuberculosis. We hypothesised that mucosal BCG vaccination may
        enhance generation of lung tissue-resident T cells, affording[...]
