http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/api/rest_v1/data/citation/mediawiki/PMC4679344
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0.9100 rOpenSci(rcitoid/0.0.2.9110)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-content-security-policy: default-src 'none'; frame-ancestors 'none'
      x-webkit-csp: default-src 'none'; frame-ancestors 'none'
      content-location: https://en.wikipedia.org/api/rest_v1/data/citation/mediawiki/PMC4679344
      x-analytics: WMF-Last-Access=07-Feb-2019;WMF-Last-Access-Global=07-Feb-2019;https=1
      x-client-ip: 157.130.179.86
    body:
      encoding: UTF-8
      string: '[{"key":"ESNZGZNB","version":0,"itemType":"journalArticle","tags":[],"journalAbbreviation":"Int
        J Gynecol Cancer","publicationTitle":"International Journal of Gynecological
        Cancer","ISSN":["1048-891X"],"abstractNote":"Supplemental digital content
        is available in the text., The first joint European Society for Medical Oncology
        (ESMO), European SocieTy for Radiotherapy & Oncology (ESTRO) and European
        Society of Gynaecological Oncology (ESGO) consensus conference on endometrial
        cancer was held on 11–13 December 2014 in Milan, Italy, and comprised a multidisciplinary
        panel of 40 leading experts in the management of endometrial cancer. Before
        the conference, the expert panel prepared three clinically-relevant questions
        about endometrial cancer relating to the following four areas: prevention
        and screening, surgery, adjuvant treatment and advanced and recurrent disease.
        All relevant scientific literature, as identified by the experts, was reviewed
        in advance. During the consensus conference, the panel developed recommendations
        for each specific question and a consensus was reached. Results of this consensus
        conference, together with a summary of evidence supporting each recommendation,
        are detailed in this article. All participants have approved this final article.","DOI":"10.1097/IGC.0000000000000609","extra":"PMID:
        26645990\nPMCID: PMC4679344","title":"ESMO-ESGO-ESTRO Consensus Conference
        on Endometrial Cancer","volume":"26","issue":"1","pages":"2–30","date":"2016-1","url":"https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4679344/","libraryCatalog":"PubMed
        Central","accessDate":"2019-02-07","author":[["Nicoletta","Colombo"],["Carien","Creutzberg"],["Frederic","Amant"],["Tjalling","Bosse"],["Antonio","González-Martín"],["Jonathan","Ledermann"],["Christian","Marth"],["Remi","Nout"],["Denis","Querleu"],["Mansoor
        Raza","Mirza"],["Cristiana","Sessa"]],"PMID":"26645990","PMCID":"PMC4679344","source":["PubMed","Zotero"]}]'
  recorded_at: 2019-02-07 00:32:43 GMT
  recorded_with: vcr/0.2.2.9312, webmockr/0.3.1.9311
