http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/api/rest_v1/data/citation/mediawiki/10.1108%2Fjd-12-2013-0166
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0.9100 rOpenSci(rcitoid/0.0.1.9110)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      x-content-security-policy: default-src 'none'; frame-ancestors 'none'
      x-webkit-csp: default-src 'none'; frame-ancestors 'none'
      content-location: https://en.wikipedia.org/api/rest_v1/data/citation/mediawiki/10.1108%2Fjd-12-2013-0166
      x-analytics: WMF-Last-Access=02-Feb-2019;WMF-Last-Access-Global=02-Feb-2019;https=1
      x-client-ip: 157.130.179.86
    body:
      encoding: UTF-8
      string: '[{"key":"U742U2SY","version":0,"itemType":"webpage","url":"https://www.emeraldinsight.com/action/captchaChallenge?redirectUrl=https%3A%2F%2Fwww.emeraldinsight.com%2Fdoi%2Fabs%2F10.1108%2FJD-12-2013-0166&","title":"EmeraldInsight","accessDate":"2019-02-02","websiteTitle":"www.emeraldinsight.com","DOI":"10.1108/jd-12-2013-0166","source":["Zotero"]}]'
  recorded_at: 2019-02-02 01:02:23 GMT
  recorded_with: vcr/0.2.2.9132, webmockr/0.3.0.9314
